*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
nav h3{
    font-size: 25px;
    font-weight: bold;
}
nav{
    height: 60px;
}

.item{
    color:rgb(44, 43, 43);
    font-weight: normal;
}


a{
    text-decoration: none;
    color: black;
    padding: 0px 20px;
}
#home-container{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
}
#home-content{
    width: 95%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FBFAFA;
}
h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-bottom: 20px;
    margin-left: 50px;
 
}
p{
    font-size: 14px;
    margin-left: 50px;
 
}
#buttons{
    margin-left: 50px;
 
}
.b1{
    padding: 5px 30px;
    font-size: 13px;
    border: none;
    background-color: #E49249;
    color: white;
}
.b1:hover{
    border: 1px solid #E49249;
    color: #E49249;
    background-color: transparent;
}
.b2{
    padding: 5px 30px;
    font-size: 13px;
    border: none;
    background-color: #68B3BA;
    color: white;
}

.b2:hover{
    border: 1px solid #68B3BA;
    color: #68B3BA;
    background-color: transparent;
}

#product-container{
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.card-img-top{
    padding: 30px;
}

h5{
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
}
span{
    color:#68B3BA;
    font-size: 15px;
}
.price{
    color: black;
    font-weight: 600;
    font-style: normal;
}
.pricing{
    display: flex;
    justify-content: space-between;
    padding: 10px ;
}
.buy{
    border: none;
    background-color: transparent;
    color: #68B3BA;
    font-size: 15px;
    font-style: medium;
    margin-bottom: 15px;
}
.card{
    background-color: #eef1f3;
    border: none;
}
.product-item{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sub-heading{
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
}
.details{
    
    width: 80%;
    margin-left: 14%;
    margin-top: -100px;
}
.para{
    font-size: 14px;
    margin-left: 0px;
}
#about{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.row{
    height: 400px;
    width: 95%;
    background-color: #FBFAFA;
}
.about-items{
    width: 40%;
    height:400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* margin-left: 150px; */
}
.img{
    margin-top: 100px;
    margin-left: 150px;
}
.image{
    padding: 0;
}
.containers{
    margin-top: 50px;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
#blog{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.client{
    width: 200px;
    height: 200px;
    border: 10px solid #68B3BA;
    border-radius: 50%;
}
.test-detail{
    width: 500px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.test{
    width: 900px;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#Testimonial-container{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
#main{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
#testimonial-item{
    width: 60%;
    margin-top: 50px;
    box-shadow: 3px 3px 20px rgb(129, 129, 129);

}

#contact{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
#main-contact{
    width: 95%;
    height: 600px;
    background-color: #FBFAFA;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#contact-container{
    width: 35%;
    height:500px;
    margin-left: 100px;

}
input{
    margin-top: 20px;
    width: 200px;
    background-color: white;
}
label{
    font-size: 15px;
}
#map{
    width: 35%;
    height:500px;
    background-color: black;
    margin-right: 100px;
}
.b3{
    padding: 8px 30px;
    font-size: 13px;
    border: none;
    background-color: #68B3BA;
    color: white;
    margin-top: 20px;
}

.b3:hover{
    border: 1px solid #68B3BA;
    color: #68B3BA;
    background-color: transparent;
}

footer{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer-container{
    width: 95%;
    height: 500px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
footer h4{
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
}
#links{
    width: 60%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icons{
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.icons a{
    color: white;
}
#item1{
    width: 100px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#item1 a{
    color: white;
    font-size: 13px;
}

.link1{
    /* width: 100px;
    height: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.feeds img{
    padding: 10px;
    background-color: white;
    margin-top: 5px;
}
#footer-item{
    width: 80%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-items{
    width: 400px;
    height: 300px;

}
footer input{
    width: 350px;
    height: 40px;
    border: none;
    color: black;
}
.b4{
    background-color: #68B3BA;
    padding: 7px 50px;
    color: white;
    border: none;
    margin-top: 10px;
}
.b4:hover{
    background-color: transparent;
    color: #68B3BA;
    border: 1px solid #68B3BA;
}
#social-icon{
    margin-top: 20px;
}
#social-icon a{
    padding: 10px;
    background-color: transparent;
    border: 1px solid #68B3BA;
    color: #68B3BA;
    margin-left: 10px;
}
#social-icon a:hover{
    background-color: transparent;
    border: 1px solid #E49249;
    color: #E49249;
}